html {
  height: 100%;
}

body {
  position: relative;
  color: $color-black;
  height: 100%;
  background-image: linear-gradient(-45deg, $color-red, $color-blue);
  animation: gradient 10s infinite alternate;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body * {
  box-sizing: border-box;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: auto;

  @media screen and (max-width: $tablet) {
    font-size: 1rem;
  }
}

button,
.button-link {
  padding: 0 30px 0 15px;
  border-radius: 30px;
  max-width: 200px;
  text-transform: uppercase;
  color: $color-white;
  background-color: black;
  font-style: italic;
  font-size: 0.9375rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  cursor: pointer;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-link {
  max-width: 100%;

  &--white {
    background-color: $color-white;
    color: black;
    border: 1px solid black;
    height: 32px;
    width: 250px;
    &:hover {
      background-color: $color-pink;
    }
  }

  &--back {
    margin-top: 16px;
  }

  &--center {
    text-align: center;
    padding: 0 30px;
    &:hover {
      opacity: 0.7;
    }
  }
}

.link {
  color: $color-black;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

.container {
  overflow: auto;
  transform-origin: 50% 50%;
  perspective: 2000px;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  top: 20px;
  left: 20px;
}
.container__inner {
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: 0.5s cubic-bezier(0.2, 0.3, 0, 1);
  transform: rotateY(0);
  transform-origin: left center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  &--open {
    transform: rotateY(20deg);
    @media screen and (max-width: $tablet) {
      transform: rotateY(0);
    }
  }
  @media screen and (max-width: $tablet) {
    height: auto;
  }
}
.container__index {
  overflow-y: scroll;
  padding-bottom: 32px;
  justify-content: flex-start;
}
.container--form {
  justify-content: flex-start;
}
.container--added {
  margin: auto;
  padding: 40px 20%;
  text-align: center;
}
.container__link {
  margin-bottom: 20px;
}
.container__error {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.restaurant {
  display: flex;
  flex-flow: column;
  padding: 64px 40px 0;

  @media screen and (max-width: $tablet) {
    padding: 20px;
    height: 100%;
  }
}
.title {
  color: $color-black;
  font-size: 3.75rem;
  line-height: 1.1;
  margin: 0;
  margin-right: 20px;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;

  &--link {
    color: $color-violet;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-color: $color-violet;
    background-image: linear-gradient(
      to right,
      $color-violet 0%,
      $color-violet 30%,
      $color-pink 70%,
      $color-pink 100%
    );
  }

  @media screen and (max-width: $tablet) {
    font-size: 2rem;
    margin: 0;
  }
}
.restaurant__info {
  display: flex;
  height: 300px;
  @media screen and (max-width: $tablet) {
    flex-flow: column;
    height: auto;
  }
}
.restaurant__details {
  width: 270px;
  @media screen and (max-width: $tablet) {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
}
.restaurant__detail {
  display: flex;
  align-items: center;
  margin-top: 30px;
  @media screen and (max-width: $tablet) {
    min-width: 50%;
    margin-top: 20px;
  }
}
.title--detail {
  margin-right: 8px;
}
.restaurant__cuisine-emoji {
  display: flex;
}
.restaurant__menu {
  width: 500px;
  margin: 30px;
  @media screen and (max-width: $tablet) {
    width: 100%;
    margin: 20px 0;
  }
}
.restaurants__buttons {
  display: flex;
  margin-top: 10px;

  &--index {
    margin: auto;
    margin-bottom: 16px;
  }
  @media screen and (max-width: $tablet) {
    flex-flow: column;
  }
}
.restaurants__button--refresh {
  background-color: $color-violet;
  &::before {
    content: '\01F504';
    position: relative;
    left: 0;
    font-size: 36px;
    z-index: 1;
    transition: 0.2s;
    font-style: initial;
    top: -15px;
    margin-right: 8px;
    line-height: 40px;
  }
  &:hover {
    &::before {
      transform: rotate(180deg);
    }
  }
}
.restaurants__button--location {
  background-color: $color-blue;
  &::before {
    content: '\01F4CD';
    position: relative;
    left: 0;
    top: -15px;
    font-size: 40px;
    z-index: 1;
    transition: 0.2s;
    font-style: initial;
  }
  &:hover {
    &::before {
      transform: scale(1.2);
    }
  }
}
.title--added {
  margin: 16px auto;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 48px;

  label {
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.5rem;
    @media screen and (max-width: $mobile) {
      font-size: 1rem;
    }
  }
  .radio-label {
    font-weight: normal;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1rem;
    margin-right: 16px;
    margin-left: 4px;
  }
}
.form__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  @media screen and (max-width: $laptop) {
    flex-direction: column;
  }
}
.form__left {
  @media screen and (max-width: $laptop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }
  @media screen and (max-width: $mobile) {
    align-items: flex-start;
    padding: 0 8px;
  }
}
.form__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $laptop) {
    margin-bottom: 48px;
  }
}
.form__box {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.form-field {
  width: 300px;
  height: 32px;
  border-radius: 30px;
  padding: 0 30px 0 15px;
  font-style: italic;
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus {
    outline: none;
  }
  &__select {
    width: 150px;
    padding: 0 10px;
  }
  &--small {
    width: 100px;
    @media screen and (max-width: $mobile) {
      max-width: 100px;
    }
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}
.form-label {
  font-weight: bold;
  margin-left: 4px;
}
